$clr-1: #374cfe;
$clr-2: #f0fdff;
$clr-3:#f0f2f2;
*{
    font-family: sora;
    box-sizing: border-box;
    text-transform: capitalize;
    a{
        text-decoration: none;
    }
    h1,h2,h3,h4,p{
        margin: 0;
    }
}

body{
    margin: 0;
    background: $clr-2;
}

.nav{
    // border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:35px 35px;
    background: $clr-2;
    // box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.197);
    position: sticky;
    top: 0;
    z-index: 100;
    .logo {
        display: flex;
        align-items: center;
        img {
            width: 60px;
        }
    }
    .nav-links{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        .uniq{
            background: $clr-1;
            color: white;
            padding:10px 20px;
            border-radius: 10px;
            transition: 0.5s;
            font-weight: 500;
            &:hover{
                background: black;
            }
        }
        a{
            font-size: 1.2rem;
            color: black;
            font-weight: 400;
            transition: 0.5s;
            padding:10px 15px;
            border-radius: 10px;
            &:hover{
                background: $clr-1;
                border-radius: 10px;
                color: white;
            }
        }
    }
    h1{
        color: black;
        // -webkit-text-stroke:2px black;
        font-family: sora;
    }
}

.uniq{
    background: $clr-1;
    color: white;
    padding:10px 20px;
    border-radius: 10px;
    transition: 0.5s;
    &:hover{
        background: black;
    }
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 60px;
    .content-words{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
        width: 800px;
        p{
            text-align: center;
        }
        h1{
            text-align: center;
            font-size: 3.5rem;
        }
    }
    .h1{
        font-size: 4.3rem;
        font-weight: 600;
        span{
            color: $clr-1;
        }
    }
    img{
        width: 1200px;
        border-radius: 30px;
    }
    .card-cont{
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        .card{
            // border: 1px solid red;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            padding:30px;
            width: 300px;
            border-radius: 20px;
            box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.212);
            transform: translateY(0);
            transition: 0.5s;
            background: white;
            &:hover{
                transform: translateY(-20px);
            }
            svg{
                width: 60px;
                height: 60px;
                fill: $clr-1;
            }
            h1{
                font-weight: 600;
            }
        }
    }
}

.activity{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    .activity-card{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transform: translateY(0px);
        transition: .5s;
        padding: 10px;
        gap: 20px;
        &:hover{
            transform: translateY(-20px);
        }
        h1{
            font-size:3rem;
        }
        p{
            font-size: 1.3rem;
        }
    }
}

.h1{
    font-size: 5rem;
    font-weight: 600;
    span{
        color: $clr-1;
    }
}
.contact-us{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    flex-direction: column;
    gap: 20px;
    background: white;
    form{
        display: flex;
        // align-items: center;
        flex-direction: column;
        gap: 20px;
        // border: 1px solid red;
        width: 70%;
        padding: 30px;
        .input-cont{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            input{
                width: 50%;
                padding:20px 15px;
                border-radius: 10px;
                outline: none;
                background: $clr-3;
                font-weight: 600;
                font-size: 1.1rem;
                border: none;
            }
        }
        textarea{
            padding:20px 10px 50px;
            border-radius: 10px;
            outline: none;
            background: $clr-3;
            font-weight: 600;
            font-size: 1.1rem;
            border: none;
        }
        button{
            background: $clr-1;
            padding: 20px;
            border-radius: 10px;
            color: white;
            border: none;
            font-size: 1.1rem;
            font-weight: 600;
        }
    }
}

.footer{
    // border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    background: $clr-1;
    width: 100%  ;
    padding: 80px 80px 20px ;
    border-radius: 40px 40px 0 0;
    color: white;
    hr{
        width: 100%;
    }
    a{
        color: white;
    }
    .footer-words{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 600px;
        gap: 20px;
        h1{
            font-size: 4rem;
            font-weight: 600;
            text-align: center;
            line-height: 70px;
        }
    }
    .uniq-a{
        background: black;
        padding: 30px 60px;
        font-weight: 700;
        font-size: 1.5rem;
        border-radius: 20px;
    }
    .footer-links{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        padding: 20px;
        a{
            font-size: 1.2rem;
        }
    }
}

.footer-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 30px 0 ;
}


.status{
    padding:10px  20px;
    color: green;
    font-size: 1.2rem;
    font-weight: 800;
}


.not-found{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    a{
        background: $clr-1;
        color: white;
        padding:10px 20px;
        font-weight: 500;
        border-radius: 20px;
    }
}


.services{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .services-words{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        width: 700px;
        text-align: center;
        h1{
            font-size: 3rem;
        }
        h4{
            color: $clr-1;
            font-size: 1.5rem;
        }
    }
}